<h1>Confirm your OneGrab account</h1>

<p>Hello <%= @resource.email %>,</p>

<p>To confirm your account, click the link below:</p>

<p><a href="<%= @confirmation_url %>"><%= @confirmation_url %></a></p>

<p>If you did not sign up, please ignore this email.</p>
